
// **** *    ****     *     ****
// *    *    *       * *    * *
// **** *    ****   *****   **
// *    *    *     *     *  * *
// **** **** **** *       * *  *

// ----------------------------------------------------------------------------------

.flexbox() {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    > [class*="span"]{
        .box-sizing(border-box);
        float: none;
    }

    @media (max-width: 768px) {
        display: block;
    }
}

// ----------------------------------------------------------------------------------

h1{
    font-size: 33px;
}
h2{
    font-size: 27px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
}

// ----------------------------------------------------------------------------------

#header{
    background-color: @color_one;
    color: @color_two;
    margin: 0;
    padding: 20px 0;
}
#featured{
    margin: 0 auto;
    max-width: 75%;
    padding: 50px 0 30px 0;

    [class*="module"]{
        > h3{
            font-size: 56px;
        }
    }

    h1,h2,h3,h4,h5,h6{
        font-weight: 300;
    }
}

#floating{
    position: absolute;
    right: 0;
    z-index: 1000;
}

// ----------------------------------------------------------------------------------

.dropdown-menu,
.navbar-inner{
    .box-shadow(none);
}

.dropdown-menu{
    margin-top: 0;

    .border-radius(0);

    &:before,
    &:after{
        display: none;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus{
        background-image: none;
    }
}
.navbar{
    .nav{
        > li{
            margin-left: 2px;

            > a{
                position: relative;
                text-shadow: none;

                &:before{
                    content: '|';
                    left: -23px;
                    margin-left: 20px;
                    position: absolute;
                }
            }
            &:first-child{
                margin-left: 0;

                >a{
                    &:before{
                        content: none;
                        display: none;
                    }
                }
            }

            &:hover{
                > a{
                    background-color: @dropdownBackground;
                }
            }

            &.active{
                > a{
                    .box-shadow(none);
                    &:hover,
                    &:focus{
                        .box-shadow(none);
                    }
                }
            }

            &.divider-vertical{
                border-left-color: @color_two;
                border-right-color: @color_two;
                padding: 0;
            }

            > .dropdown-menu{

                &:before,
                &:after{
                    content: none;
                    display: none;
                }

                > li{
                    &:hover{
                        > a{
                            background-color: @dropdownLinkBackgroundHover;
                        }
                    }

                    .sub-menu{
                        background-color: @dropdownLinkBackgroundHover;

                        > li{
                            &:hover{
                                >a{
                                    background-color: @submenuLinkBackgroundHover;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .btn-navbar{
        padding-top: 9px;
    }

    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        min-height: 21px;
    }
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
    .box-shadow(none);
}

.navbar-inverse{
    .nav{
        .dropdown-menu{
            > .active > a,
            > .active > a:hover,
            > .active > a:focus{
                background-color: @dropdownLinkBackgroundActive;
            }
        }

    }
    .navbar-inner,
    .nav .navbar-inner,
    .navbar .nav,
    .navbar .nav .navbar-inner{
        li.dropdown .dropdown-menu li>a{
            &:hover,
            &:focus {
                .caret{
                    border-bottom-color: transparent;
                    border-top-color: transparent;
                }
            }
        }
    }
}

.is_firefox{
    .navbar{
        .nav{
            > li{
                > a{
                    [class^="icon-"], [class*=" icon-"] {
                        line-height: @baseLineHeight - 6;
                    }
                }
            }
        }
    }
}

.navbar-inverse .navbar-inner,
.navbar-inner{
    background-image: none;
    border: 0;
}

.brand{
    &:hover{
        color: @color_two;
    }
}

.nav-header{
    color: @textColor;
    text-shadow: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a{
    background-image: none;
}

.nav,
.navbar-inner,
.nav .navbar-inner,
.navbar .nav,
.navbar .nav .navbar-inner {
    li.dropdown{
        .dropdown-menu{
            .border-radius(0);

            li{
                .sub-menu{

                    &:before,
                    &:after{
                        content: none;
                        display: none;
                    }

                }
            }
        }
    }
}

.module{
    .nav{
        li {
            &.dropdown{
                .dropdown-menu{
                    li{
                       > a{
                            color : @textColor;
                            padding-left: 19px;
                            padding-right: 19px;

                            > [class^="icon-"],
                            > [class*=" icon-"] {
                                color: inherit;
                            }

                            .caret{
                                border-top-color: @textColor;
                            }

                            &:hover, &:focus{
                                color: @dropdownLinkColorHover;
                            }
                        }
                    }
                }
            }

            > a{
                &:hover,
                &:focus{
                    background-color: @color_five;
                }
            }

        }

        &.nav-tabs{
            li.dropdown{
                .dropdown-menu{
                    li{
                        > a{
                            color: @dropdownLinkColor;
                        }
                    }
                }
            }
        }
    }

    .tabbable{
        .nav{
            li{
                &.dropdown{
                    .dropdown-menu{
                        li{
                            > a{
                                .caret{
                                    border-top-color: @dropdownLinkColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#sidebar1,
#sidebar2{
    .module{
        .nav{
            li {
                &.dropdown{
                    .dropdown-menu{
                        li{
                           > a{
                                color : @white;

                                > [class^="icon-"],
                                > [class*=" icon-"] {
                                    color: inherit;
                                }

                                .caret{
                                    border-top-color: @color_two ;
                                }

                                &:hover, &:focus{
                                    color: @dropdownLinkColorHover;
                                }
                            }
                        }
                    }
                }

                &.active{
                    > a{
                        background-color: @color_five;
                        color: @color_two;

                        > [class^="icon-"],
                        > [class*=" icon-"] {
                            color: @color_two;
                        }

                        .caret{
                            border-top-color: @color_two ;
                        }

                    }
                }
            }
            &.nav-tabs{
                li{
                    &.active{
                        > a{
                            background-color: @tabsBackgroundActive;
                        }
                    }
                }
            }
        }

        .well{
            .nav{
                li{
                    &.dropdown{
                        .dropdown-menu{
                            li{
                                a{
                                    color: @textColor;

                                    .caret{
                                        border-top-color: @color_two ;
                                    }

                                    &:hover,
                                    &:focus{
                                        color: @dropdownLinkColorHover;
                                        .caret{
                                            border-top-color: @dropdownLinkColorHover ;
                                        }

                                    }
                                }

                                &.active{
                                    > a{
                                        color: @dropdownLinkColorActive;
                                    }
                                }
                            }
                        }
                    }
                }
                &.nav-pills{
                    li{
                        &.dropdown{
                            .dropdown-menu{
                                li{
                                    a{
                                        &:hover,
                                        &:focus{
                                            color: @dropdownLinkColorHover;
                                        }
                                    }
                                    &.active{
                                        > a{
                                            color: @dropdownLinkColorActive;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

dl.tabs.nav {
    p,
    h3{
        margin: 0;
        a{
            border: 0;
            font-size: @baseFontSize;
        }
    }
    + .current{
        padding: 0 20px;
        dd.tabs{
            > h1,> h2,> h3,> h4,> h5,> h6{
                font-family: @altFontFamily;
                color: @linkColor;
            }
        }
    }
}
.nav.nav-tabs {
    background-color: @color_one;
    padding: 0 10px;

    h3,p{
        a{
            .border-radius(0);
            color: @color_two;
            display: block;
            padding: 15px 10px;
            &:hover,
            &:focus{
                background-color: @tabsBackgroundActive;
                color: @color_two;
                text-decoration: none;
            }
        }
    }

    li{
        > a{
            .caret {
                border-top-color: @color_two;
            }

            &:hover,
            &:focus{
                .caret {
                    border-top-color: @color_two;
                }
            }
        }
    }
    > li{
        > a{
            .border-radius(0);
            border: 0;
            color: @color_two;
            margin: 0;
            padding: 15px 10px;

            &:hover,
            &:focus{
                background-color: @tabsBackgroundActive;
                color: @color_two;
                text-decoration: none;

                [class^="icon-"], [class*=" icon-"] {
                    color: inherit;
                }
            }

            [class^="icon-"], [class*=" icon-"] {
                color: inherit;
            }

        }
        &.active{
            > a{
                background-color: @tabsBackgroundActive;
                color: @color_two !important;

                [class^="icon-"], [class*=" icon-"] {
                    color: inherit;
                }

                .caret{
                    border-top-color: @color_two;
                }

                &:hover,
                &:focus{
                    border: 0;
                }
            }
        }

        &.dropdown{
            .dropdown-menu{
                li{
                    &.active{
                        > a{
                            background-color: @dropdownLinkBackgroundActive;
                        }
                    }
                }
            }
        }
    }

    .open {
        h3,p{
            a{
                background-color: @tabsBackgroundActive;
                color: @color_two !important;
            }
        }
    }

    &.nav-stacked{
        .border-radius(4px);
        padding-left: 0;
        padding-right: 0;

    }
}

.tabs-below {
    > .nav-tabs{
        > .active > a,
        > .active > a:hover,
        > .active > a:focus{
            border: 0;
        }
        > li{
            margin-top: 0;
        }
    }
}
.tabbable {
    .nav.nav-tabs{
        padding-left: 0;
        padding-right: 0;

        > li {
            > a{
                .caret{
                    margin-top: 20px;
                }
            }

            &.dropdown{
                .dropdown-menu{
                    li a{
                        font-size: @baseFontSize - 2;
                    }
                }
            }
        }
    }
}

.tabs-right > .nav-tabs {
    border-left: 0;
}
.tabs-left > .nav-tabs {
    border-right: 0;
}

.nav-list{
    li{
        > a{
            [class*="icon-"], [class^="icon-"]{
                color: @linkColor;
            }
            &:hover,
            &:focus{
                background-color: @color_five;
                color: @color_two;

                [class*="icon-"], [class^="icon-"]{
                    color: @color_two;
                }

                .caret{
                    border-top-color: @color_two;
                }
            }
        }
        &.dropdown{
            .dropdown-menu{
                margin-left: -15px;
                margin-right: -15px;

                li a{
                    font-size: @baseFontSize - 2;
                }
            }
        }
    }
}

.nav.nav-pills{
    li{
        > a{
            [class*="icon-"], [class^="icon-"]{
                color: @linkColor;
            }
            &:hover,
            &:focus{
                background-color: @color_five;
                color: @color_two;

                [class*="icon-"], [class^="icon-"]{
                    color: @color_two;
                }

                .caret{
                    border-top-color: @color_two;
                }
            }
        }
    }
}

.nav-stacked{
    li{
        &.dropdown{
            .dropdown-menu{
                li a{
                    font-size: @baseFontSize - 2;
                }
            }
        }
    }
}

#sidebar1,
#sidebar2{
    .nav{
        li{
            &.dropdown{
                .dropdown-menu{
                    li a{
                        font-size: @baseFontSize - 2;
                    }
                }
            }
        }
    }
}


// General Wright v3: Consider move to wright

.nav.nav-tabs li.dropdown .dropdown-menu li > a{
    &:hover,
    &:focus{
        background-color: @tabsBackgroundActive;
    }
}
.nav.nav-pills li.dropdown .dropdown-menu li > a {
    &:hover,
    &:focus{
        background-color: @color_five;
    }
}

// ----------------------------------------------------------------------------------

#menu{
    margin: 0;
    padding-bottom: 0;
    .navbar{
        margin: 0;
    }
}

// ----------------------------------------------------------------------------------

code{
    background-color: transparent;
    border: 0;
    color: @textColor;
    font-weight: bold;
}

div {
    .bs-docs-example{
        border: 0;
        padding-top: 50px;
        .border-radius(0);

        &:after{
            .border-radius(0);
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid @bsDocsBorderColor;
            font-size: @baseFontSize;
            left: -20px;
            padding: 7px 280px 7px 20px;
        }

        + .prettyprint {
            margin-top: -15px;
        }
    }
}

// ----------------------------------------------------------------------------------

blockquote{
    background-image: url(../images/bq-top-cyan.png);
    background-position: left top;
    background-repeat: no-repeat;
    border-left: 0;
    padding-left: 40px;
    padding-top: 15px;

    p{
        background-image: url(../images/bq-bottom-cyan.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        padding-bottom: 10px;
        padding-right: 40px;
    }

    &.pull-right{
        background-image: url(../images/bq-bottom-cyan.png);
        background-position: right top;
        border-right: 0;
        padding: 15px 40px 0 0;

        p{
            background-image: url(../images/bq-top-cyan.png);
            background-position: left bottom;
            padding-right: 0;
            padding-left: 40px;
        }
    }
}

// ----------------------------------------------------------------------------------

.table{
    td,th{
        text-align: center;
    }
    thead{
        background-color: @color_one;
    }
    th{
        color: @color_two;
        font-size: @baseFontSize + 2;
        font-weight: normal;

        a{
            color: @color_two;
        }
    }
}

// ----------------------------------------------------------------------------------

.btn{
    .border-radius(40px);
    .box-shadow(none);
    .box-sizing(border-box);
    background-image: none;
    color: @color_two;
    min-height: 33px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: none;

    &.btn-large{
        min-height: 37px;
        padding-left: 40px;
        padding-right: 40px;
    }
    &.btn-small{
        min-height: 27px;
    }
    &.btn-mini{
        min-height: 25px;
    }

    &:hover{
        .transition(all 0.3s ease);
        background-color: darken(@btnBackground, 7%);
        color: @color_two;
    }
    &:focus{
        color: #ccc;
    }

    &.dropdown-toggle{
        .caret{
            border-top-color: @color_two;
        }
        &:focus{
            .caret{
                border-top-color: #ccc;
            }
        }
    }

    &:active,
    &.active,
    &.disabled,
    &[disabled]{
        color: @color_two;
    }
}

.btn-primary{
    &:hover{
        background-color: @btnPrimaryBackgroundHover;
    }
    &:focus{
        background-color: @btnPrimaryBackgroundFocus;
        color: @btnPrimaryColorFocus

    }
    &.dropdown-toggle{
        &:focus{
            .caret{
                border-top-color: @btnPrimaryColorFocus;
            }
        }
    }
}

.btn-group.open {
    .btn-primary.dropdown-toggle {
        &:focus{
            background-color: @btnPrimaryBackgroundFocus;
            color: @btnPrimaryColorFocus;
        }
    }

    .btn-info.dropdown-toggle {
         &:focus{
            background-color: darken(@btnInfoBackground, 10%);
            color: #4ee3e7;
        }
    }
}

.btn-info{
    &:hover{
        background-color: darken(@btnInfoBackground, 7%);
    }
    &:focus{
        background-color: darken(@btnInfoBackground, 10%);
        color: #4ee3e7;
    }
    &.dropdown-toggle{
        &:focus{
            .caret{
                border-top-color: #4ee3e7;
            }
        }
    }
}
.btn-success{
    &:hover{
        background-color: darken(@btnSuccessBackground, 7%);
    }
    &:focus{
        background-color: darken(@btnSuccessBackground, 10%);
        color: #a8f6a2;
    }
    &.dropdown-toggle{
        &:focus{
            .caret{
                border-top-color: #a8f6a2;
            }
        }
    }
}
.btn-warning{
    &:hover{
        background-color: darken(@btnWarningBackground, 7%);
    }
    &:focus{
        background-color: darken(@btnWarningBackground, 10%);
        color: #fbdc3e;
    }
    &.dropdown-toggle{
        &:focus{
            .caret{
                border-top-color: #fbdc3e;
            }
        }
    }
}
.btn-danger{
    &:hover{
        background-color: darken(@btnDangerBackground, 7%);
    }
    &:focus{
        background-color: darken(@btnDangerBackground, 10%);
        color: #f38169;
    }
    &.dropdown-toggle{
        &:focus{
            .caret{
                border-top-color: #f38169;
            }
        }
    }
}
.btn-inverse{
    &:hover{
        background-color: darken(@btnInverseBackground, 7%);
    }
    &:focus{
        background-color: darken(@btnInverseBackground, 10%);
        color: @gray;
    }
    &.dropdown-toggle{
        &:focus{
            .caret{
                border-top-color: @gray;
            }
        }
    }
}

.btn-link{
    color: @linkColor;

    &:hover{
        background-color: transparent;
        color: @linkColorHover;
    }

    &:focus{
        background-color: transparent;
        color: @linkColorHover;
    }
}

.dropup{
    .btn{
        .caret{
            border-bottom-color: @color_two;
        }
    }
}

.btn-group{
    .btn{
        &:first-of-type{
            .border-top-left-radius(40px);
            .border-bottom-left-radius(40px);
        }

        &:last-of-type{
            .border-top-right-radius(40px);
            .border-bottom-right-radius(40px);
        }
    }

    &.btn-group-vertical{
        .btn{
            padding: 6px 12px;
            &:first-of-type{
                .border-top-right-radius(40px);
                .border-top-left-radius(40px);
                .border-bottom-left-radius(0);
            }

            &:last-of-type{
                .border-bottom-left-radius(40px);
                .border-bottom-right-radius(40px);
                .border-top-right-radius(0);
            }
        }
    }
}

// ----------------------------------------------------------------------------------

.label, .badge {
    font-weight: 400;
    padding-left: 7px;
    padding-right: 7px;
    text-shadow: none;
}
.label{
    line-height: 20px;
}

.img-polaroid{
    .box-sizing(border-box);
}

// ----------------------------------------------------------------------------------

[class*="span"]{
    padding: 10px 0 10px 20px;
    .box-sizing(border-box);

    &:first-child{
        padding-left: 0;
    }
}

select,
input[type="file"] {
    &[class*="span"]{
        padding: 0 5px;
        .box-sizing(content-box);
    }
}

.thumbnails{
    [class*="span"]{
        padding-left: 20px;
    }
}
// ----------------------------------------------------------------------------------

.controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
}

// ----------------------------------------------------------------------------------

.sb2{
    #sidebar2{
        background-color: @color_three;
        color: @color_two;
    }
    .bg-sidebar{
        background-color: @color_three;
        position: relative;

        .bg-sidebar-inner{
            background-color: @bodyBackground;
            height: 100%;
            position: absolute;
            width: 50%;
            z-index: 1;
        }

        > .container, > .container-fluid{
            position: relative;
            z-index: 2;
        }

        #main-content{
            .flexbox();
        }

        #sidebar1,
        #main{
            background-color: @bodyBackground;
        }
        #main{
            padding-right: 15px;

            + #sidebar2{
                padding-left: 15px;
            }
        }
    }
}

#main-content{
    margin: 0;
}

#sidebar2{
    [class*="newsflash-vert"]{
        [class*="newsflash-title"]{
            color: @color_two;
            a{
                color: @color_two;
            }
        }
    }

    .module_ms4,
    .moduletable_ms4,
    .moduletext_ms4{
        border-bottom-color:  @color_two;
    }
}

// ----------------------------------------------------------------------------------

.well{
    .box-shadow(none);
    color: @textColor;

    .nav{
        li{
            &.dropdown{
                .dropdown-menu{
                    li{
                        a{
                            color: @textColor;

                            .caret{
                                border-top-color: @textColor;
                            }

                            &:hover,
                            &:focus{
                                color: @dropdownLinkColorHover;
                            }
                        }
                    }
                }
            }
        }
        &.nav-list,
        &.nav-pills{
            li{
                &.dropdown{
                    .dropdown-menu{
                        li{
                            a{
                                .caret{
                                    border-top-color: @textColor;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.nav-pills{
            li{
                &.dropdown{
                    .dropdown-menu{
                        li{
                            &.active{
                                > a{
                                    background-color: @dropdownLinkBackgroundActive;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------------

.hero-unit{
    .border-radius(0);
    .hero-unit{
        padding: 0;
    }
}

// ----------------------------------------------------------------------------------

#grid-bottom2{
    margin: 0 auto;
}

#grid-bottom{
    background: @color_three;
    color: @color_two;
    margin: 0;
    padding: 20px 0;
}

#footer{
    background-color: @color_four;
    background-image: none;
    border: 0;
    border-top: 8px solid @color_one;

    .footer-content a:hover{
        color: @color_two;
    }

    .module{
        &.navbar{
            .nav {
                li{
                    > a{
                        [class^="icon-"],
                        [class*=" icon-"] {
                            color: @navbarLinkColor;
                        }
                    }
                }
            }
        }
    }
}

// ----------------------------------------------------------------------------------

[class*="module"]{
    > h3{
        margin-top: 0;
    }
}

.module_ms1,
.moduletable_ms1,
.moduletext_ms1,
.module_ms2,
.moduletable_ms2,
.moduletext_ms2{
    > h3{
        color: @color_five;
        font-size: 32px;
        text-align: center;
    }
}

.module_ms2,
.moduletable_ms2,
.moduletext_ms2{
    > h3{
        position: relative;

        &:after{
            color: transparent;
            content: '_______';
            border-bottom: 2px solid @color_five;
        }
    }
}

.module_ms3,
.moduletable_ms3,
.moduletext_ms3{
    > h3{
        font-size: 32px;
        color: @color_one;
    }
}

.module_ms4,
.moduletable_ms4,
.moduletext_ms4{
    border-bottom: 1px solid @textColor;
}

// ----------------------------------------------------------------------------------

[class*="newsflash"]{
    h4{
        font-size: 22px;
        font-weight: 500;
    }
    [class*="newsflash-title"]{
        .page-header{
            border: 0;
            margin: 0;
            padding: 0;
        }
    }

    .readmore{
        float: none;
        text-align: right;
        a{
            margin: 0;
        }
    }

    .article-separator{
        display: none;
    }
}
[class*="newsflash-horiz"]{
    h1, h2, h3, h4, h5{
        text-align: center;
    }

    .img-intro-left{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}
[class*="newsflash-vert"]{
    list-style: none;
    margin: 0;

    h1, h2, h3, h4, h5{
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

// ----------------------------------------------------------------------------------
// General  Wright v3: Consider move to wright

form {
    .search,
    .finder{
        > *{
            margin-left: 6px;

            &:first-child{
                margin-left: 0;
            }
        }

        label{
            display: inline-block;
        }
    }
}

#contact-form{
    input{
        margin-bottom: 10px;
    }
}

// ----------------------------------------------------------------------------------

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd),
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover{
    color: @textColor;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    min-height: 23px;

    &[class*="span"]{
        .box-sizing(content-box);
        &:first-child{
            padding-left: 6px;
        }
        &:last-child{
            padding-right: 6px;
        }
    }


    &.input-block-level {
        min-height: 33px;
    }
}


.input-append,
.input-prepend {
    .add-on {
        min-height: 23px;
    }
}

// ----------------------------------------------------------------------------------

.socialicon-templatedesign-64 {
    &[class*="socialicon-"] {
        height: 62px;
    }

    &.socialicon-foursquare {
        background-position: -255px 0px !important;
    }

    &.socialicon-googleplus {
        background-position: -319px 0px !important;
    }
}
.socialicon-templatedesign-48 {
    &.socialicon-twitter {
        background-position: -769px 0px !important;
    }
    &.socialicon-vimeo {
        background-position: -817px 0px !important;
    }
    &.socialicon-vine {
        background-position: -913px 0px !important;
    }
    &.socialicon-youtube {
        background-position: -865px 0px !important;
    }
}
.socialicon-templatedesign-32 {
    &.socialicon-vine {
        background-position: -609px 0px !important;
    }
}
.socialicon-templatedesign-24 {
    &.socialicon-pinterest {
        background-position: -289px 0px !important;
    }
    &.socialicon-stumbleupon {
        background-position: -337px 0px !important;
    }
    &.socialicon-tumblr {
       background-position: -361px 0px !important;
    }
    &.socialicon-twitter {
        background-position: -385px 0px !important;
    }
    &.socialicon-vimeo {
        background-position: -409px 0px !important;
    }
    &.socialicon-vine {
        background-position: -457px 0px !important;
    }
    &.socialicon-youtube {
        background-position: -433px 0px !important;
    }
}

// ----------------------------------------------------------------------------------


div{
    .shackSliderslider {
        position: relative;

        .pagination{
            background-color: rgba(0, 0, 0, 0.5);

            > ul {
                display: block;
                margin: 0 auto;
                padding: 10px 80px;

                > li{
                    > a{
                        min-height: 12px;
                        min-width: 12px;
                        padding: 0;
                        .border-radius(20px);
                    }
                }
            }
        }

        #sliderNav {
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;

            ul{
                position: relative;
            }

            a{
                border: 2px solid transparent;
                background-color: @color_two;
                background-image: none;
                color: @textColor;
                height: 12px;
                margin: 6px 0 0 10px;
                .box-sizing(border-box);

                &.sliderPrev,
                &.sliderNext{
                    background-color: transparent;
                    background-repeat: no-repeat;
                    height: auto;
                    margin-top: 0;
                    position: absolute;
                    top: 13px;
                }

                &.sliderPrev{
                    background-image: url(../images/ss-prev.png);
                    left: 80px;
                }
                &.sliderNext{
                    background-image: url(../images/ss-next.png);
                    background-position: right top;
                    right: 80px;
                }

            }
            .active{
                > a{
                    background-color: @color_one;
                    border: 2px solid @color_two;
                }
            }

        }
    }
}
