@media (min-width: 980px){
    #nav-toolbar {
        display: table;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .controls-row [class*="span"] + [class*="span"] {
        margin-left: 30px;
    }

    .container-mode{
        #featured{
            [class*="module"]{
                max-width: 48%;
            }
        }
    }

    div #sliderContainer div img.fillHeight,
    div #sliderContainer div img.fillWidth{
        width: 100% !important;
    }

    div .slidermanImgCont div {
        height: auto !important;
        width: 100% !important;
    }
    [class*="span"]{
        + .span12 {
            margin-left: 0;
        }
    }
    .row-fluid {
        [class*="span"]{
            + .span12 {
                margin-left: 0;
            }
        }
    }
}

@media (min-width: 1278px) {
    .container-mode{
        #featured{
            [class*="module"]{
                max-width: 45%;
            }
        }
    }
}

@media (min-width: 1335px) {
    .container-mode{
        #featured{
            [class*="module"]{
                max-width: 595px;
            }
        }
    }
}

@media (min-width: 979px) and (max-width: 1320px) {
    .floating-exists{
        .container{
            width: 1100px;
        }
    }
}
@media (min-width: 979px) and (max-width: 1287px) {
    .floating-exists{
        .container{
            width: 1000px;
        }
    }
}
@media (min-width: 979px) and (max-width: 1180px) {
    .floating-exists{
        .container{
            width: 820px;
        }
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #toolbar{
        .navbar .container{
            width: 720px;
        }
    }

    .floating-exists{
        #toolbar{
            .navbar .container{
                width: 620px;
            }
        }
    }

    #menu{
        padding: 0;
    }

    #header{
        .navbar-inner{
            position: relative;

            .btn-navbar{
                position: absolute;
                top: -50px;
                right: 0;
            }
        }
    }

    .controls-row [class*="span"] + [class*="span"] {
        margin-left: 20px;
    }

    #featured{
        [class*="module"]{
            max-width: 50%;
        }
        .moduletable_slider{
            margin: 0;
            max-width: 100%;
        }
    }
    [class*="span"]{
        + .span12 {
            margin-left: 0;
        }
    }
    .row-fluid {
        [class*="span"]{
            + .span12 {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 1264px) {
    .alasse-toolbar-switch.btn.btn-navbar{
        right: 0;
    }
}
@media (max-width: 1160px) {
    .container-mode #featured [class*="module"] {
        max-width: 59%;
    }
}
@media (max-width: 979px) {
    #menu,
    .nav-collapse .nav{
        margin-bottom: 0;
    }

    #menu,
    #logo{
        float: none;
        width: auto;
    }

    #menu{
        .nav{
            float: none;
        }
    }

    .navbar-inner{
        padding-left: 0;
        padding-right: 0;
    }
    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a{
        font-weight: 400;
    }

    .nav-collapse {
        .nav {
            >li {
                border-bottom: 1px solid @color_two;
                >a {
                    margin-bottom: 0;
                    border-left: 0;
                    font-weight: 400;
                    .border-radius(0);

                    &:hover,
                    &:focus {
                        background-color: @navbarLinkBackgroundHover;
                    }
                }
                &:last-child{
                    border-bottom: 0;
                }
                &:hover{
                    > a{
                        background-color: transparent;
                        &:hover,
                        &:focus {
                            background-color: @navbarLinkBackgroundHover;
                        }
                    }
                }
            }
        }
        .dropdown-menu li + li a {
            margin-bottom: 0;
        }
        .dropdown-menu a {
            &:hover,
            &:focus {
                background-color: @dropdownLinkBackgroundHover;
            }
        }

        [class*="span"]{
            width: 100%;
        }
    }

    .navbar-inverse {
        .nav-collapse {
            .nav>li>a {
                &:hover,
                &:focus {
                    background-color: @navbarInverseLinkBackgroundHover;
                }
            }
        }
    }

    .navbar {
        margin-bottom: 0;
        .nav {
            >li {
                margin-left: 0;
                > a{
                    &:before{
                        display: none;
                        content: none;
                    }
                }
                padding: 0;


                &.dropdown{
                    .dropdown-menu{
                        background-color: @dropdownBackground;
                        li {
                            > a {
                                padding-left: 30px;
                                padding-right: 30px;
                            }

                            &.nav-header{
                                padding-left: 30px;
                                padding-right: 30px;
                            }
                            &.active{
                                > a{
                                    &:hover,
                                    &:focus{
                                        background-color: @dropdownLinkBackgroundActive;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-navbar{
            margin-bottom: 5px;
        }
    }

    div #sliderContainer div img.fillHeight,
    div #sliderContainer div img.fillWidth{
        width: auto !important;
    }

    // ------------------------------------------------------------------------------

    .wrappToolbar.collapsedToolbar .navbar-inner .collapsedToolbarInner{
        height: auto;
        overflow: visible;
    }

    // ------------------------------------------------------------------------------

    #nav-toolbar{
        display: block;
    }

    .floating-exists{
        .container-fluid{
            width: 80%;
            &.container-images,
            &.container-alasse{
                width: auto;
            }
        }
        .fullwidthimage{
            .container-fluid{
                width: auto;
            }
        }
    }
}

@media (min-width: 767px) and (max-width: 1070px) {
    .floating-exists{
        .container{
            width: 620px;

            [class*="newsflash-horiz"]{
                .span3{
                    float: left;
                    margin-left: 0;
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 767px) {

    #toolbar{
        .navbar-inner{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    #header,
    #grid-bottom{
        margin-left: -20px;
        margin-right: -20px;
    }

    #header{
        > *{
            padding-left: 20px;
            padding-right: 20px;
            &.full-image {
                padding: 0;
            }
        }
    }

    .container-mode {
        #featured {
            [class*="module"] {
                max-width: 80%;
            }

            .moduletable_slider{
                margin-left: -20px;
                margin-right: -20px;
                max-width: none !important;
                padding: 0;
            }
        }
    }

    .container-fluid-mode{
        #featured{
            .moduletable_slider{
                margin-left: -20px;
                margin-right: -20px;
                max-width: none !important;
                padding: 0;
            }
        }
        &.floating-exists{
            .container-fluid{
                width: auto;
            }
            .fullwidthimage{
                .container-fluid{
                    width: auto;
                }
            }
        }
    }

    .container-alasse {
        .row,
        .row-fluid{
            > [class*="span"]{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    #grid-bottom{
        padding-left: 20px;
        padding-right: 20px;
    }

    .sb2{
        #sidebar2{
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
            width: auto;
        }
        .bg-sidebar #main{
            padding-right: 0;
            padding-left: 0;

            + #sidebar2 {
                padding-left: 20px;
            }
        }
    }

    // general

    .filter-search{
        select {
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    .filters {
        > *{
            display: block;
            width: auto;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }

            &.pull-left,
            &.pull-right{
                float: none;
            }

            select{
                width: 100%;
            }
        }
    }

    #finder-search{
        .well{
            > * {
                display: block;
                margin-bottom: 10px;
                width: 100%;
                .box-sizing(border-box);

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    // ______________________________________________________________________________

    #floating{
        max-width: none;
        padding-top: 15px;
        position: static;

        .jssocialicons-vertical{
            li{
                float: left;
            }
        }
    }
    .jssocialicons-vertical{
        .socialicon-templatedesign-16,
        .socialicon-templatedesign-24,
        .socialicon-templatedesign-32,
        .socialicon-templatedesign-48,
        .socialicon-templatedesign-64{
            .border-radius(10px);
        }
    }
    // ______________________________________________________________________________

    .controls-row [class*="span"] + [class*="span"] {
        margin-left: 0px;
    }

    // ______________________________________________________________________________

    .show-grid.row-fluid [class*="span"] {
        margin-left: 0;
        width: auto;
    }
    [class*="span"] {
        width: auto;
    }

    // ______________________________________________________________________________

    div {
        .slideTitle{
            width: auto;
        }
    }

    .slidermanDescriptionCont{
        padding-left: 0;
        width: auto;
    }

    // ______________________________________________________________________________

    .module_ms2,
    .moduletable_ms2,
    .moduletext_ms2{
        &.span4,
        &.span5,
        &.span6,
        &.span7,
        &.span8,
        &.span9,
        &.span10,
        &.span11,
        &.span12{
            > h3{
                text-align: center;
                width: auto;

                &:after{
                    content: "_______";
                    left: auto;
                    position: static;
                }

                ~ *{
                    padding-left: 0;
                }
            }
        }
    }

    [class*="newsflash-horiz"]{
        .span3{
            float: left;
            margin-left: 0;
            width: 50%;
        }
        &.divided{
            margin-left: -20px;
            margin-right: -20px;

            .container {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .navbar-inner{
        padding-left: 20px;
        padding-right: 20px;
    }

    #menu{
        .navbar-inner{
            padding-left: 0;
        }
    }
    #toolbar{
        .navbar-inner{
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .footer-content{
        padding-left: 20px;
        padding-right: 20px;
    }

    .floating-exists{
        .container-fluid {
            width: auto;
        }
    }

    .container-fluid{
        &.container-images{
            display: none;
        }
        &.full{
            [class*="module"] {
                &:first-child {
                    > h3 {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    > h3 {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    #grid-bottom2{
        &.container-fluid {
            [class*="module"] {
                &:first-child {
                    > h3 {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    > h3 {
                        padding-right: 0;
                    }
                }
            }
        }
    }
    .blog,
    .blog-featured {
        .container-images + div {
            .item-image,
            [class*="img-intro-"]{
                display: block;
                max-width: none;

            }
            [class*="img-intro-"]{
                float: none;
                margin: 0 -20px;
            }
            .item-image{
                margin: 0 -20px;

                &.pull-left,
                &.pull-right{
                    float: none;
                }
            }
            .row-fluid>.span6:first-child {
                >h2:first-of-type {
                    float: none;
                    padding-right: 0;
                }
            }
        }
    }

    .fullwidthimage{
        margin: 0 -20px;
    }
    .items-leading .row-fluid>*>h2{
        padding-right: 0;
    }
    .items-row{
        overflow: visible;
        .item{
            > h2{
                padding-left: 0;
            }
        }
    }
    dl.tabs.nav+.current {
        padding: 0;
    }
    .form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend {
        margin-bottom: 10px;
    }
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        &[class*="span"]{
            max-width: 90%;
            &:first-child{
                padding-left: 6px;
            }
            &:last-child{
                padding-right: 6px;
            }
        }
    }

    .input-prepend,
    .input-append{
        display: block;
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        .uneditable-input {
            display: block;
            margin-bottom: 10px;
            .border-radius(40px);

            &[class*="span"]{
                display: block;
                float: none;
            }
        }
        > * {
            margin-bottom: 10px;
        }

        .btn{
            .border-radius(40px);
            margin-right: 3px;

            &:last-child{
                .border-radius(40px);
            }
            &:first-child-child{
                .border-radius(40px);
            }
        }
        .btn-group:last-child .btn:first-of-type:last-of-type {
            .border-radius(40px);
        }
        .btn-group .btn:first-of-type {
            .border-radius(40px);

            &:last-of-type {
                .border-radius(40px);
            }
        }
        .btn-group .btn + .dropdown-toggle {
            .border-radius(40px);
        }
        .btn-group:last-child .btn:first-of-type {
            .border-radius(40px);
        }
        .btn-group:firts-child .btn:last-of-type {
            .border-radius(40px);
        }
        .btn-group {
            .caret {
                &:first-child {
                    &:last-child {
                        margin-left: 3px;
                        margin-right: 3px;
                    }
                }
            }
        }
    }
    .form-search {
        .input-prepend,
        .input-append{
            display: block;
        }
    }
    .form-search .input-prepend .btn,
    .form-search .input-prepend .search-query,
    .form-search .input-append .search-query {
        .border-radius(40px);
    }
    div {
        .bs-docs-example {
            padding-left: 15px;
            padding-right: 15px;

            &:after {
                padding-right: 20px;
            }
        }

        .bs-navbar-top-example{
            &:after {
                bottom: auto;
                top: 0;
            }
        }
    }
    .btn .caret {
        margin-top: 9px;
    }

    .row-fluid .controls-row [class*="span"]+[class*="span"]{
        margin-left: 0;
    }
    .checkbox.inline {
        line-height: 24px;
    }
    .form-search input,
    .form-inline input,
    .form-horizontal input,
    .form-search textarea,
    .form-inline textarea,
    .form-horizontal textarea,
    .form-search select,
    .form-inline select,
    .form-horizontal select,
    .form-search .help-inline,
    .form-inline .help-inline,
    .form-horizontal .help-inline,
    .form-search .uneditable-input,
    .form-inline .uneditable-input,
    .form-horizontal .uneditable-input,
    .form-search .input-prepend,
    .form-inline .input-prepend,
    .form-horizontal .input-prepend,
    .form-search .input-append,
    .form-inline .input-append,
    .form-horizontal .input-append {
        margin-bottom: 10px;
    }

    .navbar {
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        .uneditable-input {
            max-width: 75%;
            width: auto;
        }
    }
    .tabs.nav.nav-tabs dt.tabs {
        display: block;
        float: none;
    }
}